@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode colors */
  --light-header-bg: #FDFFFD;
  --light-background: #FDFFFD;
  --light-card-bg: #F3F5F9;
  --light-chip-button: #FFFAFA;
  --light-text-primary: #1F1E1D;
  --light-text-secondary: #4A4A4A;
  --light-brand-accent: #8d69bb;
  
  /* Dark mode colors */
  --dark-header-bg: #2C2926;
  --dark-background: #1F1E1D;
  --dark-card-bg: #2F2C30;
  --dark-chip-button: #464049;
  --dark-text-primary: #FFEBFF;
  --dark-text-secondary: #D1D1D1;
  --dark-brand-accent: #76589D;
  
  /* Default to light mode */
  --header-bg: var(--light-header-bg);
  --background: var(--light-background);
  --card-bg: var(--light-card-bg);
  --chip-button: var(--light-chip-button);
  --text-primary: var(--light-text-primary);
  --text-secondary: var(--light-text-secondary);
  --brand-accent: var(--light-brand-accent);
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --header-bg: var(--dark-header-bg);
    --background: var(--dark-background);
    --card-bg: var(--dark-card-bg);
    --chip-button: var(--dark-chip-button);
    --text-primary: var(--dark-text-primary);
    --text-secondary: var(--dark-text-secondary);
    --brand-accent: var(--dark-brand-accent);
  }
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: var(--font-inter), system-ui, sans-serif;
}
